<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Welcome Back, {{logged_user.first_name}} </h1>
    <form action="/feels" method="post">
        {% csrf_token %}
        <input type="text" name="content" placeholder="What's goin' on?">
        <button type="submit">Feels</button>
    </form>
    
    {% for feels in all_feels %}
    <h4>{{ feels.creator.user_name }} says:</h4>
    <p>{{ feels.content }}</p>
    <a href="/like/{{feels.id}}" role="button">Like</a>
    {% endfor %}
    <!--{% for feels in logged_user.feels_created.all|dictsortreversed:"created_at" %} <--back door | tags in filters{% endfor %}-->
</body>
</html>