<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feels</title>
</head>
<body>
    <h1>New Feels Account</h1>
    <form action="/users", method="post">
        {% csrf_token %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="textg-danger text-small">{{message}}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <label for="first_name">First Name</label>
        <input type="text" name="first_name">
        <label for="last_name">Last Name</label>
        <input type="text" name="last_name">
        <label for="user_name">User Name</label>
        <input type="text" name="user_name">
        <label for="email">Email</label>
        <input type="text" name="email">
        <button type="submit">Submit</button>
    </form>
</body>
</html>